.container {
    width: min(100%, 1440px);
    margin: auto;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 72px;
    background-color: #2E0230;
}

.plant {
    width: 48px;
    height: 48px;
}

.plant_h2 {
    color: #F1ACEE;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 47px;
}

.logo {
    display: flex;
    column-gap: 8px;
}

.header_form_div {
    display: flex;
    flex-direction: row;
}

.search {
    width: 512px;
    height: 48px;
    padding-left: 16px;
    border-radius: 8px 0 0 8px;
}

.fa-magnifying-glass {
    font-size: 16px;
}

.search_button {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 0 8px 8px 0;
    background-color: #01ACA9;
}

.login {
    display: flex;
    column-gap: 8px;
}

.login_p {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    display: flex;
    border-radius: 8px;
    border: 1px solid #F30AEA;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
}

.header_button {
    display: flex;
    width: 42px;
    height: 42px;
    padding: 13px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #F30AEA;

}

.header_ul {
    display: flex;
    padding: 15px 299px;
    align-items: center;
    column-gap: 92px;
    background-color: #01ACA9;

}

.header_li {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* section */
.main_section {
    height: 1004px;
    position: relative;
}

.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_inside {

    display: flex;
    position: absolute;
    width: calc(864 / 1440 * 100%);
    padding: 48px 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: 1px solid rgba(176, 82, 181, 0.79);
    background: rgba(28, 19, 37, 0.80);
    backdrop-filter: blur(5px);
}

.contact_us {
    color: #FFF;
    text-shadow: 2px 4px 4px rgba(249, 12, 239, 0.71);
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 4px;
}

/* inputs */
.all_input {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.main_labels {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.information {
    display: flex;
    column-gap: 24px;
}

.name_email {
    width: 220px;
    padding: 11px 149px 11px 22px;
    border-radius: 8px;
    border: 1px solid #B052B5;
    background: rgba(28, 19, 37, 0.80);
    color: #FFF;
}

.question_div {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

#question {
    display: flex;
    width: 464px;
    height: 48px;
    color: #FFF;
    border-radius: 8px;
    border: 1px solid #B052B5;
    background: rgba(28, 19, 37, 0.80);
}

.radios_div {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.inside_radio {
    display: flex;
    column-gap: 8px;
}

.radio_label {
    color: #B052B5;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.radio_circle {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid rgba(243, 10, 234, 0.71);
    border-radius: 50%;
    cursor: pointer;
}

.radio_circle:checked {
    background-color: rgba(243, 10, 234, 0.71);
}


.details_div {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

#textarea1 {
    display: flex;
    width: 464px;
    height: 112px;
    padding: 11px 370px 75px 22px;
    align-items: center;
    appearance: none;
    border-radius: 8px;
    border: 1px solid #B052B5;
    background: rgba(28, 19, 37, 0.80);
    color: #FFF;
    resize: none;
}

.checkbox_div {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

#checkbox {
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 2px solid rgba(243, 10, 234, 0.71);
    cursor: pointer;

}

#checkbox:checked {
    background-color: rgba(243, 10, 234, 0.71);

}

.section_button {
    display: flex;
    width: 464px;
    padding: 19px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #F30AEA;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}